.header {

  nav {
    padding: 24px;
  }

  &__logo {
    img {

    }
  }

  &__menu {

    > span{
      display: block;
      width: 26px;
      height: 2px;
      background-color: $darkBlue;

      &:not(:last-child) { //adds margin-bottom to all the spans except the last one
        margin-bottom: 3px;
      }
    }
  }

  &__links {
    a {
      font-size: $font-sm;
      color: $grayishBlue;
    }
  }

  &__cta {
    font-size: $font-sm;
    color: $white;
  }
}